<main class="container-xl">
    <div id="diagnostics-block" class="my-3 p-3 rounded shadow">
        <h6 class="border-bottom pb-2 mb-2">Диагностика</h6>

        <h3>Версии</h3>
        <div class="row">
            <div class="col-md">
                <dl class="row">
                    <dt class="col-sm-5">Установленная версия
                        <span class="badge bg-success d-none" id="server-success" title="Установлена последняя версия.">ОК</span>
                        <span class="badge bg-warning text-dark d-none" id="server-warning" title="Похоже, обновление уже доступно.">Обновление</span>
                        <span class="badge bg-info text-dark d-none" id="server-branch" title="Это разветвленная версия.">Разветвленная</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="server-installed">{{page_data.current_release}}</span>
                    </dd>
                    <dt class="col-sm-5">Последняя версия
                        <span class="badge bg-secondary d-none" id="server-failed" title="Не удалось определить последнюю версию.">Неизвестно</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="server-latest">{{page_data.latest_release}}<span id="server-latest-commit" class="d-none">-{{page_data.latest_commit}}</span></span>
                    </dd>
                    {{#if page_data.web_vault_enabled}}
                    <dt class="col-sm-5">Установленный веб-интерфейс
                        <span class="badge bg-success d-none" id="web-success" title="Установлена последняя версия.">ОК</span>
                        <span class="badge bg-warning text-dark d-none" id="web-warning" title="Похоже, обновление уже доступно.">Update</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="web-installed">{{page_data.web_vault_version}}</span>
                    </dd>
                    {{#unless page_data.running_within_container}}
                    <dt class="col-sm-5">Последняя версия веб-интерфейса
                        <span class="badge bg-secondary d-none" id="web-failed" title="Не удалось определить последнюю версию.">Неизвестно</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="web-latest">{{page_data.latest_web_build}}</span>
                    </dd>
                    {{/unless}}
                    {{/if}}
                    {{#unless page_data.web_vault_enabled}}
                    <dt class="col-sm-5">Установленный веб-интерфейс</dt>
                    <dd class="col-sm-7">
                        <span id="web-installed">веб-интерфейс отключен</span>
                    </dd>
                    {{/unless}}
                    <dt class="col-sm-5">База данных</dt>
                    <dd class="col-sm-7">
                        <span><b>{{page_data.db_type}}:</b> {{page_data.db_version}}</span>
                    </dd>
                </dl>
            </div>
        </div>

        <h3>Checks</h3>
        <div class="row">
            <div class="col-md">
                <dl class="row">
                    <dt class="col-sm-5">ОС/архитектура</dt>
                    <dd class="col-sm-7">
                        <span class="d-block"><b>{{ page_data.host_os }} / {{ page_data.host_arch }}</b></span>
                    </dd>
                    <dt class="col-sm-5">Запущено в контейнере</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.running_within_container}}
                        <span class="d-block"><b>Да (База: {{ page_data.container_base_image }})</b></span>
                    {{/if}}
                    {{#unless page_data.running_within_container}}
                        <span class="d-block"><b>Нет</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">Параметры окружения переопределены</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.overrides}}
                        <span class="d-block" title="Следующее было переопределено: {{page_data.overrides}}"><b>Yes</b></span>
                    {{/if}}
                    {{#unless page_data.overrides}}
                        <span class="d-block"><b>Нет</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">Используется reverse proxy</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.ip_header_exists}}
                        <span class="d-block" title="IP заголовок найден."><b>Да</b></span>
                    {{/if}}
                    {{#unless page_data.ip_header_exists}}
                        <span class="d-block" title="IP заголовок не найден."><b>Нет</b></span>
                    {{/unless}}
                    </dd>
                    {{!-- Only show this if the IP Header Exists --}}
                    {{#if page_data.ip_header_exists}}
                    <dt class="col-sm-5">IP заголовок
                    {{#if page_data.ip_header_match}}
                        <span class="badge bg-success" title="Параметр IP_HEADER корректен">Соответствует</span>
                    {{/if}}
                    {{#unless page_data.ip_header_match}}
                        <span class="badge bg-danger" title="Параметр IP_HEADER не корректен. IP в логах не корректен. Пожалуйста, исправьте.">Не соответствует</span>
                    {{/unless}}
                    </dt>
                    <dd class="col-sm-7">
                    {{#if page_data.ip_header_match}}
                        <span class="d-block"><b>Конфигурация/Сервер:</b> {{ page_data.ip_header_name }}</span>
                    {{/if}}
                    {{#unless page_data.ip_header_match}}
                        <span class="d-block"><b>Конфигурация:</b> {{ page_data.ip_header_config }}</span>
                        <span class="d-block"><b>Сервер:</b> {{ page_data.ip_header_name }}</span>
                    {{/unless}}
                    </dd>
                    {{/if}}
                    {{!-- End if IP Header Exists --}}
                    <dt class="col-sm-5">Доступ в интернет
                    {{#if page_data.has_http_access}}
                        <span class="badge bg-success" title="Мы имеем доступ к интернету!">ОК</span>
                    {{/if}}
                    {{#unless page_data.has_http_access}}
                        <span class="badge bg-danger" title="Видимо нет доступа к интернету. Пожалуйста, исправьте.">Ошибка</span>
                    {{/unless}}
                    </dt>
                    <dd class="col-sm-7">
                    {{#if page_data.has_http_access}}
                        <span class="d-block"><b>Да</b></span>
                    {{/if}}
                    {{#unless page_data.has_http_access}}
                        <span class="d-block"><b>Нет</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">Доступ к интернету через прокси</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.uses_proxy}}
                        <span class="d-block" title="Доступ в Интернет осуществляется через прокси-сервер (настроен HTTPS_PROXY или HTTP_PROXY)."><b>Да</b></span>
                    {{/if}}
                    {{#unless page_data.uses_proxy}}
                        <span class="d-block" title="У нас прямой доступ в Интернет, исходящий прокси не настроен."><b>Нет</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">DNS (github.com)
                        <span class="badge bg-success d-none" id="dns-success" title="DNS запросы работают!">ОК</span>
                        <span class="badge bg-danger d-none" id="dns-warning" title="DNS запросы не работают. Пожалуйста, исправьте.">Ошибка</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="dns-resolved">{{page_data.dns_resolved}}</span>
                    </dd>
                    <dt class="col-sm-5">Дата и время (локально)</dt>
                    <dd class="col-sm-7">
                        <span><b>Сервер:</b> {{page_data.server_time_local}}</span>
                    </dd>
                    <dt class="col-sm-5">Дата и время (UTC)
                        <span class="badge bg-success d-none" id="time-success" title="Время работы сервера и браузера находится в пределах 15 секунд друг от друга.">Сервер/Браузер: ОК</span>
                        <span class="badge bg-danger d-none" id="time-warning" title="Время работы сервера и браузера отличается более чем на 15 секунд.">Сервер/Браузер: ошибка</span>
                        <span class="badge bg-success d-none" id="ntp-server-success" title="Время сервера и NTP находятся в пределах 15 секунд друг от друга.">Сервер/NTP: OK</span>
                        <span class="badge bg-danger d-none" id="ntp-server-warning" title="Время сервера и NTP различаются более чем на 15 секунд.">Сервер/NTP: ошибка</span>
                        <span class="badge bg-success d-none" id="ntp-browser-success" title="Время в браузере и время NTP находятся в пределах 15 секунд друг от друга.">Браузер/NTP: ОК</span>
                        <span class="badge bg-danger d-none" id="ntp-browser-warning" title="Время в браузере и время NTP отличаются более чем на 15 секунд.">Браузер/NTP: ошибка</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="ntp-time" class="d-block"><b>NTP:</b> <span id="ntp-server-string">{{page_data.ntp_time}}</span></span>
                        <span id="time-server" class="d-block"><b>Сервер:</b> <span id="time-server-string">{{page_data.server_time}}</span></span>
                        <span id="time-browser" class="d-block"><b>Браузер:</b> <span id="time-browser-string"></span></span>
                    </dd>

                    <dt class="col-sm-5">Конфигурация домена
                        <span class="badge bg-success d-none" id="domain-success" title="Переменная DOMAIN совпадает с URI браузера и, похоже, настроена правильно.">Match</span>
                        <span class="badge bg-danger d-none" id="domain-warning" title="Переменная DOMAIN не совпадает с URI браузера.&#013;&#010;Похоже, что переменная DOMAIN настроена неправильно.&#013;&#010;Некоторые функции могут работать не так, как ожидалось!">Не соответствует</span>
                        <span class="badge bg-success d-none" id="https-success" title="Настроено для использования HTTPS">HTTPS</span>
                        <span class="badge bg-danger d-none" id="https-warning" title="Не настроено для использования HTTPS.&#013;&#010;Некоторые функции могут работать не так, как ожидалось!">Нет HTTPS</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="domain-server" class="d-block"><b>Сервер:</b> <span id="domain-server-string">{{page_data.admin_url}}</span></span>
                        <span id="domain-browser" class="d-block"><b>Браузер:</b> <span id="domain-browser-string"></span></span>
                    </dd>
                </dl>
            </div>
        </div>

        <h3>Поддержка</h3>
        <div class="row">
            <div class="col-md">
                <dl class="row">
                    <dd class="col-sm-12">
                        Если вам нужна поддержка, прежде чем создавать новый вопрос, ознакомьтесь со следующими ссылками:
                         <a href="https://vaultwarden.discourse.group/" target="_blank" rel="noreferrer noopener">Форум Vaultwarden</a>
                         | <a href="https://github.com/dani-garcia/vaultwarden/discussions" target="_blank" rel="noreferrer noopener">Github Discussions</a>
                    </dd>
                </dl>
                <dl class="row">
                    <dd class="col-sm-12">
                        Вы можете использовать кнопку ниже, чтобы предварительно сгенерировать строку, которую можно скопировать/вставить на форуме или при создании новой проблемы на Github.<br>
                        По умолчанию мы стараемся скрыть наиболее чувствительные значения из генерируемой строки поддержки, но, пожалуйста, проверьте, нет ли в ней того, что вы хотите скрыть!<br>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3">
                        <button type="button" id="gen-support" class="btn btn-primary">Сгенерировать строку для поддержки</button>
                        <br><br>
                        <button type="button" id="copy-support" class="btn btn-info mb-3 d-none">Скопировать в буфер обмена</button>
                        <div class="toast-container position-absolute float-start vw-copy-toast">
                            <div id="toastClipboardCopy" class="toast fade hide" role="status" aria-live="polite" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1500">
                                <div class="toast-body">
                                    Скопировано в буфер обмена!
                                </div>
                            </div>
                        </div>
                    </dt>
                    <dd class="col-sm-9">
                        <pre id="support-string" class="pre-scrollable d-none w-100 border p-2"></pre>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</main>
<script src="{{urlpath}}/vw_static/admin_diagnostics.js"></script>
<script type="application/json" id="diagnostics_json">{{to_json page_data}}</script>
